:root {
    --color-prime: #212121; /*black*/
    --color-second: #757575; /*grey*/
    --color-accent: #2196f3; /*blue*/
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif, serif, Times;
    color: --color-primary;
    width: 1600px;
}

/*header*/
