:root {
    --color-prime: #212121; /*black*/
    --color-second: #757575; /*grey*/
    --color-accent: #2196f3; /*blue*/
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif, serif, Times;
    color: var(--color-prime);
    /*width: 1600px;*/
    /*padding: 0 215px;  left = right = 215px*/
    background-color: aqua;
}

.content {
    width: 1170px;
    margin: 0 auto;
    background-color: bisque;
}

/*header*/
