:root {
    --color-prime: #212121; /*blacl*/ 
    --color-second:#757575; /*grey*/
    --color-third: #2196F3; /*blue*/
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif, 'Times New Roman', Times, serif;
    color: --color-primary;
    width:  width: 1600px;
}